.weather {
  border-radius: 6px;
  box-shadow: 10px 10px 20px 3px rgba(0, 0, 0, 0.3);
  background-color: #333;
  margin: 20px auto 24px;
  justify-content: space-between;
  display: flex;
  min-height: 170px;
  width: 100%;
}

.left {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 45px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 45px;
  background-color: #2b2b2b;
  color: #e1e1e1;
}

.temperature-details {
  display: flex;
  font-weight: 300;
}

.temperature {
  font-size: 90px;
  line-height: 100%;
}

.temperature-c {
  font-size: 40px;
  line-height: 140%;
}

.details-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
}

.location {
  font-size: 32px;
}

.weather-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #EE1F80;
}

.details {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 3px;
}

.parameter-row {
  display: flex;
  justify-content: space-between;
}

.parameter-value {
  border-bottom: 2px solid #EE1F80;
}

.weather-icon {
  width: 130px;
}
